<template name="food">
    <div id="food">
        <div class="row center">
            <h5>How much do you eat per week?</h5>
        </div>

        <div class="divider"></div>

        <div class="row">

            <div class="col l4">
                <div class="card medium">
                    <div class="card-image">
                        <img src="images/food/beef1.jpg">
                        <span class="card-title"><h3>Beef, Pork, Lamb</h3></span>
                    </div>
                    <div class="card-content">
                        <form id="beef" class="col s12">
                            <div class="row">
                                <div class="input-field col s12">
                                    <label for="beefConsumed">Pounds Consumed</label>
                                    <input type="number" name="beefConsumed" id="beefConsumed">
                                </div>
                            </div>
                        </form>
                        <div class="row">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col l4">
                <div class="card medium">
                    <div class="card-image">
                        <img src="images/food/poultry1.jpg">
                        <span class="card-title"><h3>Poultry</h3></span>
                    </div>
                    <div class="card-content">
                        <form id="poultry" class="col s12">
                            <div class="row">
                                <div class="input-field col s12">
                                    <label for="poultryConsumed">Pounds Consumed</label>
                                    <input type="number" name="poultryConsumed" id="poultryConsumed">
                                </div>
                            </div>
                        </form>
                        <div class="row">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col l4">
                <div class="card medium">
                    <div class="card-image">
                        <img src="images/food/seafood1.jpg">
                        <span class="card-title"><h3>Seafood</h3></span>
                    </div>
                    <div class="card-content">
                        <form id="seafood" class="col s12">
                            <div class="row">
                                <div class="input-field col s12">
                                    <label for="seafoodConsumed">Pounds Consumed</label>
                                    <input type="number" name="seafoodConsumed" id="seafoodConsumed">
                                </div>
                            </div>
                        </form>
                        <div class="row">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card center">
                <div class="col s4 offset-s4">
                    <div class="card-panel">
                        <div class="row">
                            <label id="totalHousingEmissions"
                                   style="text-align: center; width: 100%; margin: auto;">Total Food</label>
                        </div>
                        <div class="row">
                            <label id="totalHousingEmissions"
                                   style="text-align: center; width: 100%; margin: auto;">STUFF</label>
                        </div>
                        <div class="row">
                            <label id="totalHousingEmissions"
                                   style="text-align: center; width: 100%; margin: auto;">tons CO<sub>2</sub>/year</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="com m12 center">
                <div class="btn-block">
                    <button type="button" class="btn" id="cancel">Cancel</button>
                    <button type="button" class="btn" id="next">Next</button>
                </div>
            </div>
        </div>
    </div>
</template>