<template name="housing">
    <div id="housing">
        <div class="row center">
            <h5>How much do you use per year?</h5>
        </div>

        <div class="divider"></div>

        <div class="row">
            <div class="col l3">
                <div class="card medium">
                    <div class="card-image">
                        <img src="images/housing/electricity1.jpg">
                        <span class="card-title"><h3>Electricity</h3></span>
                    </div>
                    <div class="card-content">
                        <form id="electricity" class="col s12">
                            <div class="row">
                                <div class="input-field col s12">
                                    <input type="number" name="electrictyUsed" id="electricityUsed"
                                           class="validate" min="0" max="50000" required>
                                    <label for="electricityUsed">Kilowatt Hours Used In A Year</label>
                                </div>
                            </div>
                        </form>
                        <div class="row">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col l3">
                <div class="card medium">
                    <div class="card-image">
                        <img src="images/housing/fuel3.jpg">
                        <span class="card-title"><h3>Fuel</h3></span>
                    </div>
                    <div class="card-content">
                        <form id="fuel" class="col s12">
                            <div class="row">
                                <div class="input-field col s12">
                                    <label for="fuelUsed">Gallons Used</label>
                                    <input type="number" name="fuelUsed" id="fuelUsed" min="0" max="5000" required>
                                </div>
                            </div>
                        </form>
                        <div class="row">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col l3">
                <div class="card medium">
                    <div class="card-image">
                        <img src="images/housing/gas1.jpg">
                        <span class="card-title"><h3>Gas</h3></span>
                    </div>
                    <div class="card-content">
                        <form id="gas" class="col s12">
                            <div class="row">
                                <div class="input-field col s12">
                                    <label for="gasUsed">Cubic Feet Used</label>
                                    <input type="number" name="gasUsed" id="gasUsed" min="0" max="500" required>
                                </div>
                            </div>
                        </form>
                        <div class="row">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col l3">
                <div class="card medium">
                    <div class="card-image">
                        <img src="images/housing/water1.jpg">
                        <span class="card-title"><h3>Water</h3></span>
                    </div>
                    <div class="card-content">
                        <form id="water" class="col s12">
                            <div class="row">
                                <div class="input-field col s12">
                                    <label for="waterUsed">Gallons Used</label>
                                    <input type="number" name="waterUsed" id="waterUsed" min="0" max="50000" required>
                                </div>
                            </div>
                            <div class="row">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="card center">
                <div class="col s4 offset-s4">
                    <div class="card-panel">
                        <div class="row">
                            <label id="totalHousingEmissions"
                                   style="text-align: center; width: 100%; margin: auto;">Total Housing</label>
                        </div>
                        <div class="row">
                            <label id="totalHousingEmissions"
                                   style="text-align: center; width: 100%; margin: auto;">STUFF</label>
                        </div>
                        <div class="row">
                            <label id="totalHousingEmissions"
                                   style="text-align: center; width: 100%; margin: auto;">tons
                                CO<sub>2</sub>/year</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="com m12 center">
                <div class="btn-block">
                    <a class="waves-effect waves-light btn red" id="cancel">Cancel</a>
                    <a class="waves-effect waves-light btn" id="next">Next</a>
                </div>
            </div>
        </div>
    </div>
</template>