<template name="transportation">
    <div id="transportation">
        <div class="row">
            <ul class="tabs transportation">
                <li class="tab col s2">
                    <a href="#car" class="active">
                        <span><i class="fa fa-plane"></i> Car</span>
                    </a>
                </li>
                <li class="tab col s2">
                    <a href="#motorcycle">
                        <span><i class="fa fa-home"></i> Motorcycle</span>
                    </a>
                </li>
                <li class="tab col s2">
                    <a href="#bus">
                        <span><i class="fa fa-cutlery"></i> Bus</span>
                    </a>
                </li>
                <li class="tab col s2">
                    <a href="#train">
                        <span><i class="fa fa-shopping-cart"></i> Train</span>
                    </a>
                </li>
                <li class="tab col s2">
                    <a href="#flying">
                        <span><i class="fa fa-shopping-cart"></i> Flying</span>
                    </a>
                </li>
                <!--<li class="tab col s2"><a href="#services"><i class="fa fa-wheelchair"></i> Services</a></li>-->
            </ul>
        </div>

        {{> car}}
        {{> motorcycle}}
        {{> bus}}
        {{> train}}
        {{> flying}}

        <div class="row center">
            <h5>How much do you travel per year?</h5>
        </div>

        <!-- Modal Trigger -->
        <!--<a class="modal-trigger waves-effect waves-light btn" href="#modal1">Modal</a>-->

        <!-- Modal Structure -->
        <div id="modal1" class="modal">
            <div class="modal-content">
                <h4>Before you begin</h4>
                <p>
                    Please gather copies of an electricity, gas, and water bill. You will also need a copy of your latest vehicle inspection or oil change.
                </p>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Start</a>
            </div>
        </div>

        <form id="transportation-form">
            <div class="row padding">
                <div class="card hoverable center">
                    <div class="card-panel">
                        <div class="input-field">
                            <select id="units">
                                <option value="miles" selected="selected">Miles</option>
                                <option value="kilometers">Kilometers</option>
                            </select>
                            <label>Select Your Units</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="divider"></div>
            <br>

            <div class="row padding">
                <div class="col s12 m12 l12"></div>

                <div class="col s12 m12 l12"></div>

                <div class="col s12 m12 l12"></div>
                <div class="col s12 m12 l12"></div>

                <div class="col s12 m12 l12"></div>
            </div>
            <div class="divider"></div>

            <div class="row">
                <div class="card">
                    <div class="col s12 m6 offset-m3 l4 offset-l4" id="totalCarbonCard">
                        <div class="card-panel">
                            <div class="row center">
                                <h5 class="">Total Transport</h5>
                            </div>
                            <div class="divider"></div>
                            <div class="row valign-wrapper" style="position:relative">
                                <h2 class="col s7 m7 l7 center" id="totalTransportEmissions">{{totalTransport}}</h2>
                                <h6 class="col s5 m5 l5 center valign" >tons of CO<sub>2</sub>/Year</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m12 l12 center">
                    <div class="btn-block">
                        <a class="waves-effect waves-light btn red cancel" id="cancel">Cancel</a>
                        <input type="submit" class="waves-effect waves-light btn next" id="next" value="Next">
                    </div>
                </div>
            </div>
        </form>
        {{> transitMap}}


    </div>
</template>