<template name="transportation">
    <div id="transportation">
        <div class="row center">
            <h5>How much do you travel per year?</h5>
        </div>

        <!-- Modal Trigger -->
        <!--<a class="modal-trigger waves-effect waves-light btn" href="#modal1">Modal</a>-->

        <!-- Modal Structure -->
        <div id="modal1" class="modal">
            <div class="modal-content">
                <h4>Before you begin</h4>
                <p>
                    Please gather copies of an electricity, gas, and water bill. You will also need a copy of your latest vehicle inspection or oil change.
                </p>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Start</a>
            </div>
        </div>

        <form id="transportation-form">
            <div class="row padding">
                <div class="card hoverable center">
                    <div class="input-field col s12">
                        <div class="card-panel input-field">

                            <br>
                            <br>

                            <select id="units">
                                <option value="miles" selected="selected">Miles</option>
                                <option value="kilometers">Kilometers</option>
                                <label class="active" for="units"><h5>Select Your Units</h5></label>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="divider"></div>
            <br>

            <div class="row">
                <div class="col s12 m6 l3">
                    <div class="card hoverable">
                        <div class="card-image">
                            <img src="images/transportation/car3.png">
                            <span class="card-title"><h3>Car</h3></span>
                        </div>
                        <div class="card-content">
                            <div class="row">
                                <div class="input-field col s8 m8 l8">
                                    <i class="material-icons prefix">directions_car</i>
                                    <input type="number" name="carDistanceTraveled" id="carDistanceTraveled" autofocus required>
                                    <label class="active">Annual Distance Traveled</label>
                                </div>
                                <div class="input-field col s4 m4 l4">
                                    <input type="checkbox" id="carDistanceTraveledCheckbox"/>
                                    <label for="carDistanceTraveledCheckbox">Calculate it</label>
                                </div>
                            </div>
                            <div class="row">
                                <ul class="collapsible no-shadow" id="carDistanceTraveledCalculate" data-collapsible="accordion">
                                    <li>
                                        <div class="collapsible-body" id="carDistanceCollapse">
                                            <div class="row">
                                                &nbsp;
                                            </div>
                                            <div class="row">
                                                <div class="input-field col s7 m7 l7">
                                                    <i class="material-icons prefix">directions_car</i>
                                                    <input type="number" name="mileageLastCheck" id="mileageLastCheck" autofocus required>
                                                    <label for="mileageLastCheck" class="active">Mileage At Last Checkup</label>
                                                </div>
                                                <div class="input-field col s5 m5 l5">
                                                    <input type="date" id="dateLastCheck"/>
                                                    <label for="dateLastCheck"></label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="input-field col s7 m7 l7">
                                                    <i class="material-icons prefix">directions_car</i>
                                                    <input type="number" name="mileageCurrent" id="mileageCurrent" autofocus required>
                                                    <label for="mileageCurrent" class="active">Current Mileage</label>
                                                </div>
                                                <div class="input-field col s5 m5 l5">
                                                    <input type="date" id="dateCurrent"/>
                                                    <label for="dateCurrent"></label>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <select id="fuelType">
                                        <option value="gasoline">Gasoline</option>
                                        <option value="diesel">Diesel</option>
                                    </select>
                                    <label class="">What is the Fuel Type of Your Car?</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s8 m8 l8">
                                    <i class="material-icons prefix">drive_eta</i>
                                    <input type="number" name="fuelEfficiency" id="fuelEfficiency" required>
                                    <label  class="active">Fuel efficiency of your car?</label>
                                </div>
                                <div class="input-field col s4 m4 l4">
                                    <input type="checkbox" id="fuelEfficiencyCheckbox"/>
                                    <label for="fuelEfficiencyCheckbox">Find it</label>
                                </div>
                            </div>
                            <div class="row">
                                <ul class="collapsible no-shadow" id="fuelEfficiencyCarSelection" data-collapsible="accordion">
                                    <li>
                                        <div class="collapsible-body" id="fuelEfficiencyCollapse">
                                            <div class="row">
                                                &nbsp;
                                            </div>
                                            <div class="row">
                                                
                                                <div class="input-field col s4 m4 l4">
                                                    <select id="carMake">
                                                        <!--<option value="miles" selected="selected">Miles</option>-->
                                                        <!--<option value="kilometers">Kilometers</option>-->
                                                        {{#each CarEfficiency}}
                                                            <option value={{make}}>{{make}}</option>
                                                        {{/each}}
                                                        <label class="active" for="carMake"><h5>Make</h5></label>
                                                    </select>
                                                </div>
                                                <div class="input-field col s4 m4 l4">
                                                    <select id="carModel">
                                                        <option value="miles" selected="selected">Miles</option>
                                                        <option value="kilometers">Kilometers</option>
                                                        <label class="active" for="carModel"><h5>Model</h5></label>
                                                    </select>
                                                </div>
                                                <div class="input-field col s4 m4 l4">
                                                    <select id="carYear">
                                                        <option value="miles" selected="selected">Miles</option>
                                                        <option value="kilometers">Kilometers</option>
                                                        <label class="active" for="carYear"><h5>Year</h5></label>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="row unit-label">
                                {{units}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col s12 m6 l3">
                    <div class="card hoverable medium">
                        <div class="card-image">
                            <img src="images/transportation/rail2.png">
                            <span class="card-title"><h3>Mono Rail</h3></span>
                        </div>
                        <div class="card-content">
                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">directions_transit</i>
                                    <input type="number" name="railDistanceTraveled" id="railDistanceTraveled"
                                           class="validate" min="0" max="50000" required>
                                    <label  class="active">Annual Distance Traveled </label>
                                </div>
                            </div>
                            <div class="row unit-label">
                                {{units}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col s12 m6 l3">
                    <div class="card hoverable medium">
                        <div class="card-image">
                            <img src="images/transportation/bus1.jpg">
                            <span class="card-title"><h3>Bus</h3></span>
                        </div>
                        <div class="card-content">
                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">directions_bus</i>
                                    <input type="number" name="busDistanceTraveled" id="busDistanceTraveled"
                                           class="validate" min="0" max="50000" required>
                                    <label class="active">Annual Distance Traveled </label>
                                </div>
                            </div>
                            <div class="row unit-label">
                                {{units}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col s12 m6 l3">
                    <div class="card hoverable medium">
                        <div class="card-image">
                            <img src="images/transportation/air1.png">
                            <span class="card-title"><h3>Air Travel</h3></span>
                        </div>
                        <div class="card-content">
                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">airplanemode_active</i>
                                    <input type="number" name="airDistanceTraveled" id="airDistanceTraveled"
                                           class="validate" min="0" max="50000" required>
                                    <label class="active">Annual Distance Traveled</label>
                                </div>
                            </div>
                            <div class="row unit-label">
                                {{units}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="divider"></div>

            <div class="row">
                <div class="card">
                    <div class="col s12 m6 offset-m3 l4 offset-l4" id="totalCarbonCard">
                        <div class="card-panel">
                            <div class="row center">
                                <h5 class="">Total Transport</h5>
                            </div>
                            <div class="divider"></div>
                            <div class="row valign-wrapper" style="position:relative">
                                <h2 class="col s7 m7 l7 center" id="totalTransportEmissions">{{totalTransport}}</h2>
                                <h6 class="col s5 m5 l5 center valign" >tons of CO<sub>2</sub>/Year</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m12 l12 center">
                    <div class="btn-block">
                        <a class="waves-effect waves-light btn red cancel" id="cancel">Cancel</a>
                        <input type="submit" class="waves-effect waves-light btn next" id="next" value="Next">
                    </div>
                </div>
            </div>
        </form>

    </div>
</template>