<template name="technology">

    <div class="row">
        <div class="parallax-container"><div class="parallax"><img src="/images/about/meteor3.jpg" style="display: block; transform: translate3d(-50%, 385px, 0px);"></div></div>
    </div>
    <div class="padding">

        <ul class="collapsible popout" data-collapsible="accordion">
            <li>
                <div class="collapsible-header active"><i class="material-icons">filter_drama</i>Meteor</div>
                <div class="collapsible-body">
                    <img class="" style="width:100%;height:auto" src="/images/about/meteor1.png">
                </div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons">place</i>MaterializeCSS</div>
                <div class="collapsible-body">
                    <img class="" style="width:100%;height:auto" src="/images/about/materializecss1.png">

                </div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons">whatshot</i>The Components and Packages - Owl Carousel</div>
                <div class="collapsible-body">
                    <div id="test-carousel" class="owl-carousel">
                        <div class="item"><img class="" src="/images/about/owlcarousel1.png"></div>
                        <div class="item"><img class="" src="/images/about/ironrouter1.png"></div>
                        <div class="item"><img class="" src="/images/about/highcharts1.png"></div>
                        <div class="item"><img class="" src="/images/about/disqus1.png"></div>
                        <div class="item"><img class="" src="/images/about/fontawesome1.png"></div>
                        <div class="item"><img class="" src="/images/about/mdi1.png"></div>
                        <div class="item"><img class="" src="/images/about/packages1.png"></div>

                    </div>
                </div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons">whatshot</i>The Components and Packages - Sliders</div>
                <div class="collapsible-body">
                    <div class="slider">
                        <ul class="slides">
                            <li>
                                <img class="" src="/images/about/owlcarousel1.png">
                            </li>
                            <li>
                                <img class="" src="/images/about/ironrouter1.png">
                            </li>
                            <li>
                                <img class="" src="/images/about/highcharts1.png">
                            </li>
                            <li>
                                <img class="" src="/images/about/fontawesome1.png">
                            </li>
                            <li>
                                <img class="" src="/images/about/mdi1.png">
                            </li>
                            <li>
                                <img class="" src="/images/about/packages1.png">
                            </li>
                        </ul>

                    </div>
                </div>
            </li>
        </ul>
    </div>
</template>