<template name="header">
    <div class="navbar-fixed">
        <nav class="white" role="navigation">
            <div class="nav-wrapper padding">
                <a id="logo-container" href="{{pathFor 'home'}}" class="brand-logo waves-effect waves-ripple waves-green">Mora<strong class="blue-text">Lab</strong></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="http://www.soc.hawaii.edu/mora/">My Homepage</a></li>
                    <li><a href="http://www.soc.hawaii.edu/mora/Team.html">Team</a></li>
                    <li><a href="http://www.soc.hawaii.edu/mora/Publications.html">Publications</a></li>
                    <li><a href="http://www.soc.hawaii.edu/mora/Courses.html">Courses</a></li>
                    <li><a href="http://www.soc.hawaii.edu/mora/PressRoom.html">Press</a></li>
                    <li><a href="http://www.soc.hawaii.edu/mora/del.html">CO2 Neutrality</a></li>
                    {{#if currentUser}}
                        <li id="log-out-button">{{> atNavButton}}</li>
                    {{else}}
                        <li id="sign-in-button">{{> atNavButton}}</li>
                    {{/if}}
                </ul>

                <ul id="nav-mobile" class="side-nav">
                    <div class="card" id="sidebar-card">
                        <div class="card-image">
                            <img src="/images/transportation/rail1.png">
                            <span class="card-title"><h3>Train</h3></span>
                        </div>
                    </div>
                    <li><a href="http://www.soc.hawaii.edu/mora/">My Homepage</a></li>
                    <li><a href="http://www.soc.hawaii.edu/mora/Team.html">Team</a></li>
                    <li><a href="http://www.soc.hawaii.edu/mora/Publications.html">Publications</a></li>
                    <li><a href="http://www.soc.hawaii.edu/mora/Courses.html">Courses</a></li>
                    <li><a href="http://www.soc.hawaii.edu/mora/PressRoom.html">Press</a></li>
                    <li><a href="http://www.soc.hawaii.edu/mora/del.html">CO2 Neutrality</a></li>

                    {{#if currentUser}}
                        <li id="log-out-button">{{> atNavButton}}</li>
                    {{else}}
                        <li id="sign-in-button">{{> atNavButton}}</li>
                    {{/if}}
                </ul>
                <a class="button-collapse" href="#" data-activates="nav-mobile" id="sidebar-button-collapse"><i class="mdi-navigation-menu"></i></a>
            </div>
        </nav>
    </div>
</template>