<template name="pathways">
    {{> carousel}}
    <div>
        <div class="row col m12 padding">
            <h1>The <strong class="light-green-text">Carbon Neutrality</strong> Project</h1>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col s12 m12 l12">
                <h4>Your Emitted CO<sub>2</sub> <strong>{{getTotalCarbon}}</strong> Tons</h4>
            </div>
        </div>
        <div class="row">
            {{>charts}}
        </div>
    </div>

    <div class="section padding">
        <div id="disqus_thread"></div>
    </div>
</template>