<template name="Home">
  <div class="home">
    <h1>Find me in app/client/templates/home/home.html</h1>

      <h3> IMPORTANT NOTES </h3>
      Need to fix: app/lib/collections/*   the before.insert wasn't working.
      <br>
      Need to add: Bootstrap to app/lib/stylesheets
      <br>
      Need to fix: Iron (-Sy)
      <br>
      Need to fix: dropzone.css in app/public for Trees.html
      <br><br>

  </div>
    <div class="carrousel">
        This is a carrousel
    </div>
    {{> projectStart}}

</template>
