<template name="carbonNav">
    
    <div class="row">
        <div class="col s12 center">
            <br>
            <br>
            <h2><strong>Calculate Your Emissions</strong></h2>
            <br>
            <br>
        </div>
    </div>
    <div class="carbon-nav padding">
        <nav class="">
            <div class="row">
                <div class="col s12">
                    <ul class="tabs z-depth-1">
                        <li class="tab col s3"><a href="#transportation" class="active"><i class="fa fa-plane"></i> Transportation</a></li>
                        <li class="tab col s3"><a href="#housing"><i class="fa fa-home"></i> Housing</a></li>
                        <li class="tab col s3"><a href="#food"><i class="fa fa-cutlery"></i> Food</a></li>
                        <li class="tab col s3"><a href="#shopping"><i class="fa fa-shopping-cart"></i> Shopping</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <br>
    <br>
    <div class="divider"></div>
    <br>
    <br>

</template>