<template name="carbonNav">

    <div class="row">
        <div class="col s12 center">
            <br>
            <br>
            <h2>Calculate Your <strong class="materialize-red-text text-lighten-1" style="">Emissions</strong></h2>
            <br>
            <br>
        </div>
    </div>
    <div class="carbon-nav padding">
        <ul class="tabs z-depth-1">
            <li class="tab col s2">
                <a href="#transportation" class="active">
                    <div class="card-panel">
                        <div class="row">
                            <span><i class="fa fa-plane"></i> Transportation</span>
                        </div>
                        <div class="row">
                            <span>Tons of CO<sub>2</sub> per Year</span>
                        </div>
                    </div>
                </a>
            </li>
            <li class="tab col s2">
                <a href="#housing">
                    <div class="card-panel">
                        <div class="row">
                            <span><i class="fa fa-home"></i>Housing</span>
                        </div>
                        <div class="row">
                            <span>Tons of CO<sub>2</sub> per Year</span>
                        </div>
                    </div>
                </a>
            </li>
            <li class="tab col s2">
                <a href="#food">
                    <div class="card-panel">
                        <div class="row">
                            <span><i class="fa fa-cutlery"></i> Food</span>
                        </div>
                        <div class="row">
                            <span>Tons of CO<sub>2</sub> per Year</span>
                        </div>
                    </div>
                </a>
            </li>
            <li class="tab col s2">
                <a href="#recycling">
                    <div class="card-panel">
                        <div class="row">
                            <span><i class="fa fa-shopping-cart"></i> Recycling</span>
                        </div>
                        <div class="row">
                            <span>Tons of CO<sub>2</sub> per Year</span>
                        </div>
                    </div>

                </a>
            </li>
            <!--<li class="tab col s2"><a href="#services"><i class="fa fa-wheelchair"></i> Services</a></li>-->
        </ul>
    </div>
    <div class="row">
        <div class="col s12">

        </div>
    </div>
    <br>
    <br>
    <div class="divider"></div>
    <br>
    <br>

</template>