<template name="carbonNav">
    <div class="main-content">
        <div class="row">
            <div class="col-md-12" style="text-align: center">
                -------Calculate Your Emissions-------
                <br>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 nopadding">
                <a href="/transportation" class="thumbnail {{isTransportation active}}"><img src="/plane5.png" class="nav_image"><h4 style="text-align: center">Transportation</h4></a>
            </div>
            <div class="col-md-3 nopadding">
                <a href="/housing" class="thumbnail {{isHousing active}}"><img src="/home168.png" class="nav_image"><h4 style="text-align: center;">Housing</h4></a>
            </div>
            <div class="col-md-3 nopadding">
                <a href="/food" class="thumbnail {{isFood active}}"><img src="/cutlery23.png" class="nav_image"><h4 style="text-align: center">Food</h4></a>
            </div>
            <div class="col-md-3 nopadding">
                <a href="/shopping" class="thumbnail {{isShopping active}}"><img src="/marker20.png" class="nav_image"><h4 style="text-align: center">Shopping</h4></a>
            </div>
        </div>
    </div>

</template>