<template name="carbonNav">
    <div class="row">
        <div class="col-md-3 nopadding">
            <a href="/transportation" class="thumbnail {{isTransportation active}}"><img src="/Picture1.png" class="nav_image"><h4 style="text-align: center">Transportation</h4></a>
        </div>
        <div class="col-md-3 nopadding">
            <a href="/housing" class="thumbnail {{isHousing active}}"><img src="/house.png" class="nav_image"><h4 style="text-align: center;">Housing</h4></a>
        </div>
        <div class="col-md-3 nopadding">
            <a href="/food" class="thumbnail {{isFood active}}"><h4 style="text-align: center">Food</h4></a>
        </div>
        <div class="col-md-3 nopadding">
            <a href="/shopping" class="thumbnail {{isShopping active}}"><h4 style="text-align: center">Shopping</h4></a>
        </div>
    </div>
</template>