<template name="trees3">
    <div class="row">
        <div class="col-md-12" style="text-align: center">
            <br>
            <br>
            <br>
            <h4>------- My Trees -------</h4>
            <br>
            <br>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            Map of trees
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            Tree icons menu (Click on a tree allows user to go to the information
            of the given tree in the "My Tree" Page.
        </div>
    </div>

    <div class="row">
        <div class='wrapper text-center'>
            <div class="btn-group btn-group-lg">

                <a href="/trees2" class="btn btn-default" style="background-color: lawngreen; color: white; border: solid black" id="goBack3">
                    Go Back
                </a>

            </div>
        </div>
    </div>
</template>