<template name="buttons">
    <div id="buttons">
        <div class="row">
            <div class="col s12 center">
                <div class="btn-block">
                    <button type="button" class="btn" id="cancel">Cancel</button>
                    <button type="button" class="btn" id="next">Next</button>
                    <a class="waves-effect waves-light btn" id="cancel">Cancel</a>
                    <a class="waves-effect waves-light btn" id="next">Next <i class="fa fa-chevron-right"></i></a>
                </div>
            </div>
        </div>
    </div>

</template>