@charset "utf-8";
/* CSS Document */

/* xs */
@media (max-width: 320px) {
    .navbar-toggle.collapsed {
        margin-right: 10px;
        padding: 4px
    }
    .mainContent .formTitle {
        font-size: 20px;
    }
}
@media (max-width: 360px) {
    .titleViolet {
        font-size: 25px;
    }
}
@media (max-width: 480px) {
    .formWrapper {
        max-width: 90%;
    }
    .mainContent .formTitle {
        font-size: 25px;
    }
    
    .formWrapper h3 {
        font-size: 22px;
    }
}
@media (max-width: 480px) { 
    .smallBanner img {
        margin-top: 30px;
    }
    .leftContnent .leftSectionList li {
        margin-left: 13px;
        margin-right: 13px;
    }
   .leftContnent .leftSectionList li:first-child {
        margin: 0;
    }
}
@media (max-width: 767px) { 
   .smallBanner .col-xs-12.col-sm-12.col-md-12.col-lg-12 {
    padding-right: 15px;
}
.leftSectionList li {
    display: inline-block;
    margin-left: 25px;
    margin-right: 20px;
}
.middleContent {
    text-align: center;
    margin-bottom: 15px;
}
.middleContent img, .rightContnent img {
    display: inline-block;
}
.rightContnent {
    text-align: center;
}
.subTitle {
    font-size: 17px;
}

}
@media (min-width:768px) and (max-width:992px) { 
    .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
        line-height: 10px;
    }
    .navbar-header .navbar-brand h1 {
        line-height: 22px;
        font-size: 31px;
    }
    .navbar-nav > li > a {
        padding: 6px;
    }
    header {
        height: 68px;    
    }
    .formWrapper {
        max-width: 90%;
    }
}
@media (min-width:993px) and (max-width:1200px) { 
    .navbar-nav > li > a {
        padding: 6px 14px;
    }
}













