<!--For More Information on the Carousel, head over to http://owlgraphic.com/owlcarousel/index.html-->

<template name="carousel">
    <div id="test-carousel" class="owl-carousel">
        <div class="item"><img src="/parallax/background7.jpg" alt="/parallax/background1.jpg"></div>
        <div class="item"><img src="/parallax/background8.jpg" alt="/parallax/background1.jpg"></div>
        <div class="item"><img src="/parallax/background3.jpg" alt="/parallax/background1.jpg"></div>
        <div class="item"><img src="/parallax/background4.jpg" alt="/parallax/background1.jpg"></div>
        <div class="item"><img src="/parallax/background5.jpg" alt="/parallax/background1.jpg"></div>
        <div class="item"><img src="/parallax/background6.jpg" alt="/parallax/background1.jpg"></div>
        <div class="item"><img src="/parallax/background7.jpg" alt="/parallax/background1.jpg"></div>
        <div class="item"><img src="/parallax/background8.jpg" alt="/parallax/background1.jpg"></div>
    </div>
    <div class="customNavigation">
        <a class="btn prev waves-effect waves-ripple">Previous</a>
        <a class="btn next waves-effect waves-ripple">Next</a>
        <a class="btn play waves-effect waves-ripple">Autoplay</a>
        <a class="btn stop waves-effect waves-ripple">Stop</a>
    </div>
</template>