/*****************************************************************************/
/* main: Style */
/*****************************************************************************/
.main {
}

.nopadding {
    padding-left: 0px;
    padding-right: 0px;
}

.thumbnail > img.nav_image {
    height: 100px;

}

a.thumbnail {
    color: black;
}

a.nav_active {
    border: solid black 3px;
}



.rounded-border {
    border: solid;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.row {
    margin-bottom: 10px;
}

.card-title h3 {
    text-shadow: 2px 2px 4px #000000;
}
