
.thumbnail > img.nav_image {
    height: 100px;

}

a.thumbnail {
    color: black;
}

a.nav_active {
    border: solid black 3px;
}


.rounded-border {
    border: solid;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.no-padding {
    padding: 0 !important;
}

.no-margin {
    margin: 0 !important;
}

.row {
    margin-bottom: 10px;
}

.card-title h3 {
    text-shadow: 2px 2px 4px #000000;
}
@media only screen and (min-width: 601px) {
    #totalCarbonCard {
        width:50%;
        margin-left:25%;
    }
}
[type="checkbox"] + label {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    display: inline-block;
    height: 60px;
    line-height: 25px;
    font-size: 1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}

.btn {
    border: none;
    border-radius: 15px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    outline: 0;
    padding: 0 2rem;
    text-transform: uppercase;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
}

/* MaterializeCSS Customization */

.card {
    position: relative;
    /*margin: 0.5rem 0 1rem 0;*/
    margin: 0 2.5% 2.5% 2.5%;
    background-color: #fff;
    transition: box-shadow .25s;
    border-radius: 2px;
}

.picker__select--year.browser-default {
    display: inline;
    background-color: #FFFFFF;
    width: 27%;
}

.picker__box {
    border-radius: 5px;
    border-width: 0;
    overflow: hidden;
}

.picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected {
    border-radius: 50%;
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    background-color: #f44336;
    color: #ffffff;
}