<template name="trees2">
    <div class="row">
        <div class="col-md-12" style="text-align: center">
            <br>
            <br>
            <br>
            <h4>------- My Tree -------</h4>
            <br>
            <br>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3" style="border: 1px solid grey">
            Picture of a tree
        </div>

        <div class="col-md-9" style="border: 1px solid grey">
            Name
            <br>
            ---------------------------------------
            <br>
            Planted in Location on Month Day, Year
        </div>
    </div>

    <div class="row">
        Given a diameter of 50cm, this tree will sequester 45kg of CO2 over its life time
        (If tree died use instead, This tree WOULD have sequestered 45 kg of CO2 over its life time)
        <br>
        GRAPH

    </div>

    <div class="row">
        <div class='wrapper text-center'>
            <div class="btn-group btn-group-lg">
                <a href="/trees3" class="btn btn-default" style="background-color: lawngreen; color: white; border: solid black" id="save2">
                    Save
                </a>
                <a href="/trees" class="btn btn-default" style="background-color: lawngreen; color: white; border: solid black" id="goBack2">
                    Go Back
                </a>
                <a href="/trees2" class="btn btn-default" style="background-color: lawngreen; color: white; border: solid black" id="cancel2">
                    Cancel
                </a>
            </div>
        </div>
    </div>
</template>